html, body {
    background-color: rgb(255, 255, 255);
}

.header {
	height:100px;
	width:100%;
	background-image: url("../images/Book-Cover-Title-Header.png");
}

.logo {
	height: 100%;
	width: 400px;
	background-image: url("../images/clearbooks.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
}

.container {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.main {
	height: calc(100% - 130px);
	background-image: url("../images/ClearBooksIcon.png");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}


.footer {
	height: 30px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5px;
	background-image: url("../images/Book-Cover-Title-Header.png");
}

.navicator {
	display: inline;
	height: 100%;
	width: 150px;
}

.bookshelf {
	display: inline;
	border:#FF0000;
	border-width:3px;
	background-image: url('../images/bookshelf.png');
	height: 100%;
	width: calc(100% - 150px);
}
